.page--home {
  position: relative;
  overflow-x: hidden;

  .video {
    &::before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 36%;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    video {
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }

  /* Homepage navbar */

  &--sections--nav {
    position: absolute;
    top: 1rem;
    right: 0;

    .header--navigation {
      &--desktop {
        ul {
          display: flex;
          justify-content: flex-end;
          li {
            margin: 0 2rem;
            position: relative;
            list-style-type: none;
            color: #fff;
            font-size: 1rem;
            font-family: "Poppins", sans-serif;
            cursor: pointer;

            &:hover,
            &:active,
            &:focus {
              &::after {
                content: "";
                margin: 0 auto;
                position: absolute;
                bottom: -0.5rem;
                right: 0;
                width: 65px;
                border: 1px solid #fff;
                border-radius: 5px;
              }
            }
          }
        }
      }

      &--mobile {
        nav {
          .toggler {
            position: absolute;
            top: 1rem;
            right: 2rem;
            img {
              width: 20px;
            }
          }

          ul {
            li {
              a {
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      background-color: #000;
    }
  }

  h1 {
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6rem;
    letter-spacing: 10px;
    font-weight: 400;

    @media screen and (max-width: 500px) {
      display: none;
    }

    @media screen and (min-width: 500px) and (max-width: 800px) {
      font-size: 3rem;
      left: 40%;
    }
  }

  /* Homepage sections */

  .section {
    width: 100%;
    background: url("https://images-cdn.auctionmobility.com/is3/auctionmobility-static/2fs7-1-48OXP//1147_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    &--about,
    &--contact {
      background-color: rgba(0, 0, 0, 0.7);
      .card {
        align-items: flex-end;
        .copy {
          h3,
          p {
            color: #fff;
          }
        }
        .link {
          a {
            color: #fff;
          }
        }
      }
    }
    &--gallery {
      background-color: rgba(255, 255, 255, 0.88);
      .link {
        a {
          color: #000;
        }
      }
    }
    &--contact {
      @media screen and (max-width: 500px) {
        .card {
          .link {
            a {
              margin-top: 2rem;
            }
          }
        }
      }
    }

    &--about,
    &--gallery,
    &--contact {
      padding: 4rem 6rem;
      height: 400px;

      @media screen and (max-width: 500px) {
        padding: 1rem;
      }
    }
    .card {
      flex-direction: column;
      .copy {
        max-width: 40%;
        width: 100%;
        h3 {
          margin: 0;
          font-size: 4rem;
        }

        @media screen and (max-width: 500px) {
          max-width: 80%;

          h3 {
            font-size: 2rem;
          }

          p {
            font-size: 0.875rem;
          }
        }
      }

      @media screen and (max-width: 500px) {
        flex-direction: row;
        .link {
          display: none;
        }
      }
    }
  }
}
