.navbar {
  &--icon {
    width: 50px;
    height: 50px;
  }

  &--desktop {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    nav {
      > div {
        margin: 0 3rem;
      }
      ul {
        display: flex;
        li {
          margin: 0 2rem;
          list-style-type: none;

          a {
            color: #fff;
            font-size: 1rem;
            text-decoration: none;
          }
        }
      }
    }
  }

  &--mobile {
  }
}

/* #toggle-btn {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;

  img {
    width: 25px;
  }
}

#exit-menu {
  &::after {
    content: "\d7";
    position: absolute;
    top: 0;
    right: 2rem;
    margin-top: 1rem;
    color: #fff;
    font-size: 3.125rem;
    text-align: center;
    z-index: 999999;
    cursor: pointer;
  }
} */

.page--about,
.page--gallery,
.page--contact,
.page--enroll {
  .navbar {
    &--desktop {
      ul {
        li {
          a {
            position: relative;
            color: #000;
            &:hover {
              color: #cf1616;
              &::after {
                content: "";
                margin: 0 auto;
                position: absolute;
                bottom: -0.5rem;
                right: 0;
                width: 65px;
                border: 1px solid #cf1616;
                border-radius: 5px;
              }
            }
            @media screen and (max-width: 500px) {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.page--about {
  .navbar {
    &--desktop {
      ul li {
        a {
          @media screen and (max-width: 1200px) {
            color: #fff;
            &:hover {
              color: #fff;
              &::after {
                border: 1px solid #fff;
              }
            }
          }
        }
      }
    }
  }
}
